<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <main>
      <h1>Timestamp Microservice</h1>
      
      <h3>APIs and Microservices Projects for FCC</h3>

      <p>Example Usage:</p>

      <ul>
        <li>
          <a href="/api/2020-12-25" target="_blank">[project url]/api/2020-12-25</a>
        </li>
        <li>
          <a href="/api/1608854400000" target="_blank">[project url]/api/1608854400000</a>
        </li>
      </ul>

      <p>Example Output:</p>

      <code>
        { 
          "unix": 1608854400000, 
          "utc": "Fri, 25 Dec 2020 00:00:00 GMT" 
        }
      </code>

    </main>
  </body>
</html>